
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: "Merriweather", serif;
}



.header-section{
   background-image:url('../resources/Banner\ Image.png') ; 
    width: 1320px;
    height: 600px;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    margin-top: 50px;
    border-radius: 14px;



}
.header-class{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFF;
    
    height: 100%;


}
.top{
    text-align: center;
    font-size: 45px;
    font-weight: 400;

}
.top2{
    text-align: center; 
    font-size: 72px;
    font-weight: 900;
    
}

.second-section{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.offer{
    color: #F00;

text-align: center;
font-family: Inter;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.deal{
    color: #F00;

text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.all{
    color: #070211;

text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}




.three-sec{
    background-image: url('../resources/Vectorrr.png'); 
    background-position: center center; /* Horizontal | Vertical */
  background-repeat: no-repeat;
  background-size: cover;
    margin-left: auto;
    margin-right: auto;
    width: 1320px;
   height: 600px;
   flex-shrink: 0;
}
.cen{
    color: #FFF;

font-family: Merriweather;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 88px; /* 137.5% */
letter-spacing: 7.04px;
}
.cen2{
    color: rgba(255, 255, 255, 0.80);

font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.cen3{
    color: #FFF;
    width: 103px; /* Set the width of the button */
    height: 24px;
    background-color: transparent;
    border: none;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    
}
.rise{
    display: flex;
    flex-direction: column;
    margin-right: 150px;
    
}
.sit{
    display: flex;
    flex-direction: row;
    margin-left: 95px;
    margin-top: 150px;
    background-position: center center;
     
}






.four-sec{
    background-color: rgb(240, 219, 219);
    width: 1320px;
   height: 482px;
   margin-right: auto;
   margin-left: auto;
   margin-top: 120px;
    
}
.robot2{
    display: flex;
    flex-direction: column;
    gap: 0.1px;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 40px;
text-transform: capitalize;
text-align: center;
padding-top: 50px;
}


.robot{
    color: #F00;
    text-align: center;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 56px; /* 175% */
text-transform: capitalize;

}
.for{
    color: #FFF;
    width: 167px; /* Set the width of the button */
    height: 56px;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    display: inline-flex;
padding: 30px 70px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 8px;
background: #F00;
margin-left: auto;
margin-right: auto;
}

.five-sec{
    display: flex;
    flex-direction: row;
    width: 1600px;
    height: 900px;
    background: #FFF;
    margin-top: 120px;
   
    margin-left: auto;
    margin-right: auto;

}

.raj1{
    color: #F00;
text-align: left;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.raj2{
    color: #070211;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}
.raj3{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
}



.hati1{
    color: #F00;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.hati2{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
width: 276px;
}
.hati3{
    width: 140px;
height: 140px;
flex-shrink: 0;
}

.god{
    width: 1600px;
height: 7335px;
background: #FFF;
gap: 50px;
width: 463px;
height: 463px;
flex-shrink: 0;
border-radius: 463px;
border: 15px solid #F00;
}



.sixth-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
  
    .sixth-function{
      color: #070211;
      font-family: 'Inter';
      font-size: 24px;
      font-weight: 500;
  
    }
  
    .sixth-holiday{
      color: #070211;
      font-size: 72px;
      font-weight: 900;
      margin-bottom:16px;
      
    }
  
    .sixth-holiday-span{
      color: #F00;
      text-align: center;
      font-size: 72px;
      font-weight: 900;
      margin-bottom:28px;
      
    }
  
    .sixth-paragraph{
      color: rgba(7, 2, 17, 0.60);
      text-align: center;
      font-family: 'Inter';
      font-size: 20px;
      font-weight: 500;
      line-height: 32px; 
      margin-bottom:64px;
    }
  
  
    .seventh-section{
      position:relative;
      height:800px;
      width:1320px;
      margin:auto;
      margin-bottom:120px;
      margin-top:0;
      
    }
  
    .seventh-img1{
      position:absolute;
      bottom:0;
    }
    .seventh-img2{
      position:absolute;
      right:0;
      top:138px;
    }
    .seventh-img3{
      position:absolute;
      right:290px;
      top:200px;;
    }
    .seventh-img4{
      position:absolute;
      bottom:0;
      height:600px;
      width:750px;
    }

    .eighth-sec{
        background: #FFF;
        margin-left: 350px;
        margin-right: auto;
        margin-top:120px ;
        margin-bottom: 120px;
    }
    
    .pic1:hover
    {
    
        scale: 1.1;
        
    }
    .pic1{
        transition:0.5s scale ;
    }
    
    .rev1{
        color: #F00;
    
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    }
    
    .rev2{
        color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    }
    
    .rev3{
        color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
    }


    .nine-sec{
        width: 1320px;
        height: 616px;
        flex-shrink: 0;
        border-radius: 16px;
        background: rgba(255, 0, 0, 0.05);
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 120px;

    }

    .news{
        display: flex;
        flex-direction: column;
        justify-content: center; /* Center the image horizontally */
        align-items: center; 
        
    }

    

    .alt{
        width: 150px;
        height: 150px;
        flex-shrink: 0;
        display: flex;
       

    }

    .sub{
        color: #070211;
        text-align: center;
        font-family: Merriweather;
        font-size: 48px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        text-transform: capitalize;

    }

    .curve{
        width: 896px;
        color: rgba(7, 2, 17, 0.60);
        text-align: center;
        font-family: Inter;
        font-size: 20px;
       font-style: normal;
       font-weight: 400;
       line-height: 32px; /* 160% */
    
    }

    .mail{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        


    }

    .gmail{
        width: 648px;
  height: 72px;
  border-radius: 50px 0 0 50px; 
  background: #FFF;
  border: none;
  margin-top: 48px;
  padding-left:20px;
  position: relative;
  font-size:18px;

    }

    .btn{
        width: 210px;
        height: 72px;
        border-radius: 0 50px 50px 0; 
        background: #F00;
        border: none;
        margin-top:48px;
        color:#fff;
        font-family: 'Inter';
        font-size: 20px;
        font-weight: 600;
      
    }

    .final{
        width: 2000px;
        height: 609px;
        flex-shrink: 0;
        background: #070211;

    }

    .last{ display: flex;
          flex-direction: row;
          justify-content: center;
    }

    .asa1{  padding: 100px 600px 50px 50px;

    }

    .asa2{
        padding: 100px 100px 50px 300px;

    }

    .sus1{
        color: #FFF;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 40px; 
        width: 375px; ;
        height: 80px; ;
    }

    .phone-number{
        background-image: url('resources/Call.png');
            background-repeat: no-repeat;
            background-size: 24px 24px; /* Adjust based on the size of your icon */
            flex-shrink: 0;
            padding-left: 25px; /* Adjust so the text does not overlap the icon */
            background-position: left center;

            color: #FFF;

            font-family: Inter;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 40px;

    }

    .website{
        background-image: url('resources/Website.png');
        background-repeat: no-repeat;
        background-size: 24px 24px; /* Adjust based on the size of your icon */
        flex-shrink: 0;
        padding-left: 25px; /* Adjust so the text does not overlap the icon */
        background-position: left center;

        color: #FFF;

         font-family: Inter;
         font-size: 24px;
         font-style: normal;
         font-weight: 500;
         line-height: 40px;

    }

    .line1{
        width: 1320px;
        height: 1px;
        background: rgba(255, 255, 255, 0.15);
        background-position: center;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .moja{
        /*display: flex;
        flex-direction: column;
        display: grid;
            place-items: center; */
       
         }

         .rop{
            width: 64px;
            height: 64px;
            flex-shrink: 0;
            
          /*  display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid;
            row-gap: 10px; */
            
         }

         .sir{
            display: flex;
          flex-direction: row;
          justify-content: center;

         }

         .tar{
            color: #FFF;
            font-family: Inter;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            height: 29px;
            width: 295px;
            padding: 100px 600px 50px 50px;

         }
         .bar{
            color: #FFF;
            font-family: Inter;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            width: 245px;
            height: 29px;
            padding: 100px 100px 50px 300px;

         }

    
    