

.header-section{
   background-image:url('../resources/Banner\ Image.png') ; 
    width: 1320px;
height: 600px;

display: flex;
direction: inherit ;
}
.word{
    color: #FFF;

text-align: top center;
font-family: Merriweather;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.front{
    color: #FFF;
    width: 632px;
text-align: top center;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: 95px;
}
.second-section{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.offer{
    color: #F00;

text-align: center;
font-family: Inter;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.deal{
    color: #F00;

text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.all{
    color: #070211;

text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}